<div class="max-w-2xl mx-auto mt-8 p-6 bg-white rounded-lg shadow-lg">
  <h2 class="text-2xl font-semibold mb-6 text-gray-900">
    {{ isEditMode ? "Edit" : "Add" }} Country
  </h2>

  <form (ngSubmit)="saveCountry()" class="space-y-4">
    <div class="mb-4">
      <label for="country" class="block text-sm font-medium text-gray-700"
        >Country Name</label
      >
      <input
        type="text"
        id="country"
        [(ngModel)]="country.country"
        name="country"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Enter country name"
        required
        [class.border-red-500]="isValidationError.country"
      />
      @if (isValidationError.country) {
      <div class="text-red-500 text-sm mt-1">
        {{ isValidationError.country }}
      </div>
      }
    </div>

    <div class="mb-4">
      <label for="population" class="block text-sm font-medium text-gray-700"
        >Population</label
      >
      <input
        type="text"
        id="population"
        [(ngModel)]="country.population"
        name="population"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Enter population"
        required
        [class.border-red-500]="isValidationError.population"
      />
      @if (isValidationError.population) {
      <div class="text-red-500 text-sm mt-1">
        {{ isValidationError.population }}
      </div>
      }
    </div>

    <div class="flex justify-end">
      <!-- <button
        type="submit"
        class="bg-blue-500 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        {{ isEditMode ? "Update" : "Save" }}
      </button> -->

      @if (isEditMode) {
      <button
        mat-raised-button
        #tooltip="matTooltip"
        matTooltip="update"
        type="submit"
        class=""
      >
        <span
          class="material-symbols-outlined bg-blue-500 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          system_update_alt
        </span>
      </button>
      } @else {
      <button
        mat-raised-button
        #tooltip="matTooltip"
        matTooltip="save"
        type="submit"
      >
        <span
          class="material-symbols-outlined bg-blue-500 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >label</span
        >
      </button>
      }
    </div>
  </form>
</div>
