<div class="flex h-screen">
  <mat-sidenav-container class="flex-grow bg-blue-500">
    <mat-sidenav
      #sidenav
      mode="side"
      opened
      class="example-sidenav"
      [fixedInViewport]="options.value.fixed"
      [fixedTopGap]="options.value.top"
      [fixedBottomGap]="options.value.bottom"
    >
      <div class="flex flex-col justify-center gap-y-5 px-5 mt-5">
        <a
          [routerLink]="''"
          class="flex items-center gap-x-2 text-lg hover:text-blue-300 transition"
        >
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <hr />
        <a
          [routerLink]="'countries'"
          class="flex items-center gap-x-2 text-lg hover:text-blue-300 transition"
        >
          <mat-icon>public</mat-icon>
          <span>Countries</span>
        </a>
        <a
          [routerLink]="'states'"
          class="flex items-center gap-x-2 text-lg hover:text-blue-300 transition"
        >
          <mat-icon>location_city</mat-icon>
          <span>States</span>
        </a>
        <a
          [routerLink]="'cities'"
          class="flex items-center gap-x-2 text-lg hover:text-blue-300 transition"
        >
          <mat-icon>location_on</mat-icon>
          <span>Cities</span>
        </a>
      </div>
    </mat-sidenav>

    <div class="">
      <!-- <app-header (homeClicked)="sidenav.toggle()" class="w-full"></app-header> -->
      <app-header (homeClicked)="toggleSidenav()" class="w-full"></app-header>
      <!-- <button mat-button (click)="sidenav.toggle()">Toggle</button> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
